In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('1hour_jan_aug.csv')
df.head()

,time,open,high,low,close,EMA,EMA.1,Volume
0,1737417600,2710.305,2711.705,2702.815,2705.665,2707.327258,2707.943741,17803
1,1737421200,2705.710,2719.408,2703.215,2718.010,2708.298416,2709.956993,34489
2,1737424800,2717.950,2725.775,2717.810,2724.835,2709.801742,2712.932594,25563
3,1737428400,2724.845,2727.015,2721.295,2724.250,2711.115220,2715.196075,18958
4,1737432000,2724.265,2727.925,2723.075,2727.395,2712.595200,2717.635860,13404

In [14]:
df["time"] = pd.to_datetime(df["time"], unit="s", utc=True)

df["time_bd"] = df["time"].dt.tz_convert("Asia/Dhaka")

tokyo_df = df[
    (df["time_bd"].dt.hour >= 6) &
    (df["time_bd"].dt.hour < 8)
].copy()

tokyo_df["movement"] = (tokyo_df["close"] - tokyo_df["open"]) / 0.01



month_input = int(input("Enter month number (1 for Jan, 2 for Feb, etc.): "))

filtered_df = tokyo_df[tokyo_df["time_bd"].dt.month == month_input]

filtered_df.tail(10)

,time,open,high,low,close,EMA,EMA.1,Volume,time_bd,movement
550,2025-02-24 00:00:00+00:00,2936.915,2937.940,2929.760,2930.090,2934.313188,2934.370496,7996,2025-02-24 06:00:00+06:00,-682.5
551,2025-02-24 01:00:00+00:00,2930.020,2931.205,2921.475,2928.125,2933.750625,2933.121396,25950,2025-02-24 07:00:00+06:00,-189.5
573,2025-02-25 00:00:00+00:00,2950.110,2952.540,2948.525,2949.670,2944.899043,2948.162756,5280,2025-02-25 06:00:00+06:00,-44.0
574,2025-02-25 01:00:00+00:00,2949.690,2952.545,2945.280,2949.550,2945.321857,2948.440205,16279,2025-02-25 07:00:00+06:00,-14.0
596,2025-02-26 00:00:00+00:00,2918.620,2926.315,2918.610,2923.605,2924.051921,2917.890601,8007,2025-02-26 06:00:00+06:00,498.5
597,2025-02-26 01:00:00+00:00,2923.655,2930.180,2915.345,2917.970,2923.499019,2917.906481,16584,2025-02-26 07:00:00+06:00,-568.5
619,2025-02-27 00:00:00+00:00,2919.405,2919.405,2916.010,2917.190,2915.567234,2915.571161,3513,2025-02-27 06:00:00+06:00,-221.5
620,2025-02-27 01:00:00+00:00,2917.145,2918.380,2911.095,2912.680,2915.304758,2914.992929,14752,2025-02-27 07:00:00+06:00,-446.5
642,2025-02-28 00:00:00+00:00,2875.880,2880.315,2874.945,2877.030,2885.679596,2878.958980,5389,2025-02-28 06:00:00+06:00,115.0
643,2025-02-28 01:00:00+00:00,2877.035,2885.240,2873.940,2874.890,2884.698724,2878.145184,20657,2025-02-28 07:00:00+06:00,-214.5